body
{
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-image: url(image/image4.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    
}

header {
  box-sizing: border-box;
  position: relative;   
  display: flex;
  align-self: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

nav li {
  font-family: 'Peddana', serif;
     background-color: black;
    padding: 25px;
    text-decoration: overline;
}

a
{
    color: hotpink;
    font-size: 1.3em;
    text-decoration: none;
    
}

a:hover
{
    color: chartreuse;
}

h1
{
    display: flex;
    align-self: left;
    font-size: 3em;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

h2
{
     display: flex;
    align-self: center;
    font-size: 2.6em;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

h3
{
    font-family: 'Roboto Mono', monospace; 
    font-size: 2em;
    color: white;
    display: flex;
    text-align: center;
}

h4
{
    font-family: 'Roboto Mono', monospace; 
    font-size: 1.8em;
    color: white;
}

p
{
    font-size: 2em;
    font-family: 'Piazzolla', serif;
    color: white;
}

footer
{
    color: white;
    background-color: black;
    padding: 25px;
    text-decoration: overline;
}

/*CLASS*/

.head
{
    display: flex;
    flex-direction: column;
    background-color:black;
}

.ides
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    margin: 2px black;
    margin: 30px;
}

.ide1
{
    width: 450px;
    height: 480px;
	padding: 50px;
	font-size: 12px;
    display: flex;
    flex-direction: column;
    background: black;
    text-align: center;
    border-radius: 5px;
}

.ide2
{
     width: 450px;
    height: 480px;
	padding: 50px;
	font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius:5px;
}

.ide3
{
     width: 450px;
    height: 480px;
	padding: 50px;
	font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    border-radius:5px;
   
}

.images
{
    display: flex;
    flex-grow: 4;
    flex-direction: column;
    background-color: black;
    align-items: center;
}

.présentation{ 
  display: flex;
  width: 100vw;
  height: 50vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #131313;
  color: #fff;
  font-size: 96px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -7px;
}
/*ID*/

#listeNavTop {
  font-family: 'Peddana', serif;
  border-radius: 25px;
  top:0;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');


div{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

div:before,
div:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}