body
{
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
}

header {
  box-sizing: border-box;
  position: relative;   
  display: flex;
  align-self: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
}

nav li {
  font-family: 'Peddana', serif;
}

a
{
    color: hotpink;
    font-size: 1.3em;
    text-decoration: none;
}

a:hover
{
    color: chartreuse;
}

h1
{
    display: flex;
    align-self: center;
    font-size: 3em;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

h2
{
     display: flex;
    align-self: center;
    font-size: 2.6em;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

h3
{
    font-family: 'Roboto Mono', monospace; 
    font-size: 2em;
    color: white;
    display: flex;
    text-align: center;
}

h4
{
    font-family: 'Roboto Mono', monospace; 
    font-size: 1.8em;
    color: white;
}

p
{
    font-size: 2em;
    font-family: 'Piazzolla', serif;
    color: white;
}

footer
{
    color: white;
    background-color: black;
    padding: 25px;
}

/*CLASS*/

.head
{
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    background-color:#2F103B;
}

.ides
{
    display: flex;
    flex-grow: 5;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    margin: 2px black;
}

.ide1
{
    width: 450px;
    height: 480px;
	padding: 50px;
	font-size: 12px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#38024D, #A457BF) ;
    margin: 2px;
    text-align: center;
    border-radius: 5px;
}

.ide2
{
     width: 450px;
    height: 480px;
	padding: 50px;
	font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(#38024D, #A457BF) ;
    margin: 2px;
    border-radius:5px;
}

.ide3
{
     width: 450px;
    height: 480px;
	padding: 50px;
	font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(#38024D, #A457BF) ;
    margin: 2px;
    border-radius:5px;
   
}

.images
{
    display: flex;
    flex-grow: 4;
    flex-direction: column;
    background-color: black;
    align-items: center;
}


/*ID*/

#listeNavTop {
  font-family: 'Peddana', serif;
  border-radius: 25px;
  position: fixed;
  top:0;
}