body
{
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    
}

h1 {
     display: flex;
    font-size: 3em;
   justify-content: center;
   align-items: center;
   font-family: 'Codystar';
   background: black;
   background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

header {
  box-sizing: border-box;
  position: relative;   
  display: flex;
  align-self: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

nav li {
  font-family: 'Peddana', serif;
}

a
{
    color: hotpink;
    font-size: 1.3em;
    text-decoration: none;
    width: 100px;
    height: 100px;
}

a:hover
{
    color: chartreuse;
}

main
{
display:  flex;
flex-direction: column;
}


h2
{
     display: flex;
    font-size: 2.6em;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

p
{
    font-family: 'Abril Fatface', cursive;
}

footer
{
    color: white;
    background-color: black;
    padding: 25px;
    font-size: 1.6em;
    text-decoration: overline;
}
/*CLASS*/
.neons {
   margin-top: 10rem;
   text-align: center;
}

.neons h1 {
  font-size: 9rem;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}


.head
{
    background-color: black;
    color: white;
    
}

.intro
{
    background-color: white;
    color: black;
    font-size: 1.6em;
    padding: 5px;
}

.intro li
{
    display: flex;
    flex-direction: column;
    font-family: 'Abril Fatface', cursive;
}

.imgintro
{
    display: flex;
    flex-direction: column;
}
.column
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    margin: 2px black;
}

.column p
{
    font-size: 1.6em;
    text-align: justify;
    font-family: 'Abril Fatface', cursive;
}
.column1
{
    width: 450px;
    height: 480px;
	padding: 50px;
	font-size: 12px;
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    margin: 2px;
    text-align: center;
    border-radius: 5px;

}

.column2
{
     width: 450px;
    height: 480px;
	padding: 50px;
	font-size: 12px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    background-color: lightgray;
    margin: 2px;
    border-radius:5px;
     
}

.column3
{
     width: 450px;
    height: 480px;
	padding: 50px;
	font-size: 12px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    background-color: white;
    margin: 2px;
    border-radius:5px;
   
   
}

.texte
{
    display: flex;
    flex-direction: row;
     vertical-align: middle;
}

.para

{
    font-size: 2.5em;

   
}
/*ID*/

#listeNavTop {
  font-family: 'Peddana', serif;
  border-radius: 25px;
  top:0;
}

@-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }
  
  to {
     color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
    
}

@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');