body
{
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
     background-image: url(image/etoiles.jpg);
}


header {
  box-sizing: border-box;
  position: relative;   
  display: flex;
  align-self: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
}

nav li {
  font-family: 'Peddana', serif;
}

a
{
    color: hotpink;
    font-size: 1.3em;
    text-decoration: none;
    width: 100px;
    height: 100px;
    transition: width 2s
}

a:hover
{
    color: chartreuse;
    width: 1000px;
}


h1
{
    display: flex;
    align-self: center;
    font-size: 3em;
    font-family: 'Roboto Mono', monospace;
     animation: 3s ease-in 1s infinite reverse both running slidein;
}

h2
{
     display: flex;
    font-size: 2.6em;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}


p
{
      display: flex;
    font-size: 1.2em;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

footer
{
    color: white;
    background-color: black;
    font-size: 1.6em;
    text-decoration: overline;
   position: relative;
    bottom:0;
    width:100%;
  
}

/*CLASS*/

.tout
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.head
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
}


.logo
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height: 200px;

}

.logo img {
    display: block;
}

.texte
{

    background-color: rgb(255, 105, 180, 0.9) ;
}
/*ID*/

#listeNavTop {
  font-family: 'Peddana', serif;
  border-radius: 25px;
  position: fixed;
  top:0;
}


@keyframes slidein {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}