
body
{
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color: cornflowerblue;
    background-attachment: fixed;
    
}


header {
  box-sizing: border-box;
  position: relative;   
  display: flex;
  top:0;
  width:100%;
  color: white;
  background-color: black;
    
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  margin-left: 10px;
  margin-right: 10px;
  text-align: right;
}

nav li {
  font-family: 'Peddana', serif;
}

a
{
    color: white;
    font-size: 1em;
    text-decoration: none;
    width: 100px;
    height: 100px;
}

a:hover
{
    color: chartreuse;
    width: 300px;
}

main
{
    text-align: center;
}

h1
{
    display: flex;
    font-size: 3em;
    font-family: 'Roboto Mono', monospace;
     animation: 3s ease-in 1s infinite reverse both running slidein;
}

h2
{
     display: flex;
    font-size: 2.6em;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 1px 1px 1px black;
}

h3
{
    font-size: 2.6em;
}
p
{
     display: flex;
    font-size: 1.2em;
    font-family: 'Roboto Mono', monospace;
  
}


footer
{
    color: white;
    background-color: black;
    font-size: 1.6em;
    text-decoration: overline;
    position: relative;
    bottom:0;
    width:100%;
 
  
}

/*CLASS*/
.brackets
{
    text-align: center;
}
.head
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
}

.logo
{
    display: flex;
    flex-direction: row;
   margin-bottom: 10px;

}

.column
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    margin: 2px black;
    margin: 30px;
    box-shadow: 2px 2px 2px black;
}

.column1, .column2, .column3
{
   
	padding: 50px;
	font-size: 12px;
    display: flex;
    flex-direction: column;
    background: white;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    
}

/*ID*/

#listeNavTop {
  font-family: 'Peddana', serif;
  border-radius: 25px;
  bottom:0;
   
}
